<!DOCTYPE html>
<html lang="en">
<style>
body {
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    }

  h2, p {
    margin: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  ul li {
    float: left;
  }

  ul li a {
    font-family: 'Franklin Gothic Medium';
    display: block;
    color: white;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
  }

  ul li a:hover {
    background-color: #111111;
  }
</style>
<ul>
  <li><a href="http://127.0.0.1:5000/">Home</a></li>
  <li><a href="http://127.0.0.1:5000/database">Database</a></li>
  <li><a href="https://github.com/akhilesh-suravarapu/audio-to-midi" target="blank">Github</a></li>
  <li><a href="http://127.0.0.1:5000/about">About</a></li>
</ul>
<body>
    <h1>Your file is getting ready.</h1>
    <p>It will be available in the database shortly. You may leave this page.</p>
</body>
</html>